<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.travelog" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"
        tools:ignore="Instantiatable" >
        <activity android:name=".ui.Trips.Itinerary_create"/>
        <activity
            android:name=".ui.Trips.Itinerary_detail"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.Trips.Articles_create"/>
        <activity android:name=".ui.Trips.Itinerary_add"
            android:parentActivityName=".ui.Trips.Itinerary_detail"/>
        <activity android:name=".change_password_Activity" />
        <activity android:name=".signup_page_Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>