<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.travelog" >
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="Instantiatable" >
        <activity android:name=".ui.Trips.Itinerary_create"/>
        <activity
            android:name=".ui.Trips.Itinerary_detail_day"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.Profile.change_password_Activity" />
        <activity android:name=".ui.Trips.ArticleAdd.AddActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:screenOrientation="portrait"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.Trips.Itinerary_detail_hour"/>
        <activity android:name=".ui.Trips.SwipeViewPager.Itinerary_View"/>
        <activity android:name=".ui.Trips.Itinerary_add_hour"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.Trips.TripsFragment"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Profile.signup_page_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme ="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Profile.fill_info_Activity"/>
        <activity android:name=".ui.Profile.Display_personal_detailActivity"/>
        <activity android:name=".ui.DiscoverFragment.View.UpdateActivity"/>
        <activity android:name=".ui.DiscoverFragment.View.ViewActivity">
        </activity>
        <activity android:name=".ui.DiscoverFragment.View.ViewGalleryActivity">
        </activity>
        <activity android:name=".ui.DiscoverFragment.View.CommentActivity">
        </activity>
        <activity android:name=".ui.DiscoverFragment.View.SeeCommentActivity">
        </activity>
        <activity android:name=".ui.DiscoverFragment.Search.SearchActivity">
        </activity>
        <activity android:name=".ui.Profile.ViewCreatedActivity">
        </activity>
        <activity android:name=".ui.Profile.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Travelog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>